<section class="bg-red-400 h-screen grid place-items-center">
  <div>1</div>
</section>
<section class="bg-white h-[150vh]">
  <div class="relative sticky h-screen grid place-items-center">
    <div
      class="absolute h-screen contents top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
    >
      <div
        #bubble
        class="bubble bg-blue-300 relative w-screen md:h-[800px] md:max-w-[800px]"
      >
        <div
          #banner
          class="flex flex-col gap-8 m-auto w-[300px] md:flex-row md:items-center md:h-[800px] md:max-w-[800px] md:w-[600px] lg:w-[1000px] xl:w-[1200px] 2xl:w-[1450px]"
        >
          <div class="flex items-center gap-4 md:gap-6 lg:gap-8 xl:gap-12">
            <div class="flex flex-col gap-4 lg:gap-6 xl:gap-8">
              <div
                class="text-white w-16 h-16 lg:w-20 lg:h-20 xl:w-28 xl:h-28 bg-black rounded-2xl grid place-items-center"
              >
                <span> 1 </span>
              </div>
              <div
                class="text-white w-16 h-16 lg:w-20 lg:h-20 xl:w-28 xl:h-28 bg-black rounded-2xl grid place-items-center"
              >
                <span> 2 </span>
              </div>
              <div
                class="text-white w-16 h-16 lg:w-20 lg:h-20 xl:w-28 xl:h-28 bg-black rounded-2xl grid place-items-center"
              >
                <span> 3 </span>
              </div>
              <div
                class="text-white w-16 h-16 lg:w-20 lg:h-20 xl:w-28 xl:h-28 bg-black rounded-2xl grid place-items-center"
              >
                <span> 4 </span>
              </div>
              <div
                class="text-white w-16 h-16 lg:w-20 lg:h-20 xl:w-28 xl:h-28 bg-black rounded-2xl grid place-items-center"
              >
                <span> 5 </span>
              </div>
            </div>
            <div>
              <img
                class="w-60 md:max-w-[400px] lg:w-[300px] xl:w-[400px] 2xl:w-[400px]"
                src="assets/img/phone.png"
                alt="phone"
              />
            </div>
          </div>
          <div class="text-center">
            <h1 class="font-bold text-3xl mb-4">Easy, automated investing</h1>
            <p>
              Give your money a chance to work towards your financial goals with
              Round-Ups®, expert-built, diversified portfolios, Recurring
              Investments, and more.
            </p>
            <button
              class="bg-blue-900 rounded-3xl text-white p-4 w-[200px] mt-6"
            >
              Get started
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-yellow-200 h-screen grid place-items-center">
  <div>1</div>
</section>
